[submodule "vim/bundle/vim-fugitive"]
	path = vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/pack/bundle/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/bundle/bundle/ctrlp.vim"]
	path = vim/bundle/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/pack/bundle/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/pack/bundle/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/pack/bundle/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/pack/bundle/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/pack/bundle/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-haml"]
	path = vim/pack/bundle/start/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-vroom"]
	path = vim/pack/bundle/start/vim-vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "vim/bundle/rainbow"]
	path = vim/pack/bundle/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/pack/bundle/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-rails"]
	path = vim/pack/bundle/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-rake"]
	path = vim/pack/bundle/start/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/bundle/vim-sleuth"]
	path = vim/pack/bundle/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/pack/bundle/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/Dockerfile.vim"]
	path = vim/pack/bundle/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vim/bundle/vim-projectionist"]
	path = vim/pack/bundle/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "vim/bundle/vim-surround"]
	path = vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-docker-compose-syntax"]
	path = vim/pack/bundle/start/vim-docker-compose-syntax
	url = https://github.com/NLKNguyen/vim-docker-compose-syntax.git
[submodule "vim/bundle/vim-node"]
	path = vim/pack/bundle/start/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/pack/bundle/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/pack/bundle/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/pack/bundle/start/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/pack/bundle/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/pack/bundle/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/unite-spell-suggest"]
	path = vim/pack/bundle/start/unite-spell-suggest
	url = https://github.com/kopischke/unite-spell-suggest.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
