[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
[submodule "vim/pack/bundle/opt/minpac"]
	path = vim/pack/bundle/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "i3.symlink"]
	path = i3.symlink
	url = ./i3.symlink/
